* {
    box-sizing: border-box
}

h1, body {
    margin: 0;
    text-align: center;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(249, 255, 255);
    min-height: 100vh;
}

.action-btn {
    background: #efefef;
    margin: 30px 0 0 0;
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0px 3px 3px 0px rgba(49, 49, 49, 0.2);
}

.container {
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.dice {
    width: 180px;
    height: 180px;
}

.dice-red {
    fill: #E98888;
}

.dice-blue {
    fill: #449fcc;
}

h1 {
    font-size: 40px;
    margin-top: 70px;
    margin-bottom: 40px;
}

@media (max-width: 485px) {
  .container {
    gap: 25px;
  }
}